ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.child{
    display: block;
    color: #000;
    margin: 0%;
    text-decoration: none;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}

.child-list{
    background-color: #ECECEC;
    padding: 5px 10px;
    &:hover{
        background-color: #FABE58;
        color: #fff;
    }
}

.child-lists{
    background-color: #fff;
    padding: 0 0 0 10px;
}