<ul>
  <li *ngFor="let country of countries; let i = index" class="child-hie">
    <ng-container *ngIf="country?.name">
      <a class="child child-list" *ngIf="country?.children">
        <!-- <input type="radio" [id]="country.id" checked="true"  *ngIf="country.type === 'Company'"/> -->
        <input type="checkbox"  [id]="country.id" [checked]="false" />
        <label [for]="country.id">{{country.name}}</label>
      </a>
      <a class="child child-list" *ngIf="country?.sites" >
        <input type="checkbox" name="company" [id]="country.id" [checked]="isAllLeafChecked(i)" (change)="selectLeafChange($event.target.checked, i)"/>
        <label [for]="country.id">{{country.name}}</label>
      </a>
      <a class="child child-lists" *ngIf="country?.children">
        <children-hierarchy [data]="country.children" [selectedIds]="selectedIds" (sendSelectedIds)="isIdEmiting($event)"></children-hierarchy>
      </a>
      <a class="child child-lists" *ngIf="country?.sites">
        <leaf-hierarchy [sites]="country.sites" [selectedIds]="selectedIds" (sendSelectedIds)="isIdEmiting($event)" [allLeafChecked]="allLeafChecked"></leaf-hierarchy>
      </a>
    </ng-container>
  </li>
</ul>