

<div class="dropdown">
  <button class="dropbtn" >{{titleName}}</button>
  <ul class="dropdown-content toggle-drop-down" >
    <input type="checkbox" (change)="removeAll($event.target.checked)"/>
    <li class="no-mar">
        <children-hierarchy [data]="filteredData" [selectedIds]="selectedIds" (sendSelectedIds)="isIdEmiting($event)"></children-hierarchy>
    </li>
  </ul>
</div>