<table>
  <thead>
    <tr class="table-head">
      <th *ngFor="let tableHead of tableHeads">{{tableHead}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tableData of tableDatas">
      <td *ngFor="let colName of tableColNameGenerated">{{tableData[colName]}}</td>
    </tr>
  </tbody>
</table>

<!-- <table>
  <tr class="table-head">
    <th *ngFor="let tableHead of tableHeads">{{tableHead}}</th>
  </tr>
  <tr *ngFor="let tableData of tableDatas">
    <td>{{tableData['appNameProcess']}}</td>
    <td>{{tableData.appType}}</td>
    <td>{{tableData.attempts}}</td>
    <td>{{tableData.circle}}</td>
    <td>{{tableData.creationDate}}</td>
    <td>{{tableData.defaultPassword}}</td>
    <td>{{tableData.hodName}}</td>
    <td>{{tableData.lastLoggedOn}}</td>
    <td>{{tableData.loginIp}}</td>
    <td>{{tableData.marketCode}}</td>
    <td>{{tableData.nameInitial}}</td>
    <td>{{tableData.oldPassword1}}</td>
    <td>{{tableData.oldPassword2}}</td>
    <td>{{tableData.oldPassword3}}</td>
    <td>{{tableData.oldPassword4}}</td>
    <td>{{tableData.passExpDate}}</td>
    <td>{{tableData.passStatus}}</td>
    <td>{{tableData.password}}</td>
    <td>{{tableData.userAuthTypeId}}</td>
    <td>{{tableData.userEmail}}</td>
    <td>{{tableData.userId}}</td>
    <td>{{tableData.userMobile}}</td>
    <td>{{tableData.userName}}</td>
  </tr>
</table> -->