<button type="button" (click)="navigateToAddUser()">Add</button>
<br>
<hr>
<div>
  <div style="float: left;">
    <drop-down-container dropDown [data]="datas" [multi-select]="false" (selected)="selectedId($event)"></drop-down-container>
  </div>
  <div style="float: left; margin-left: 10vw">
    <generic-hierarchy  [data]="filteredData" [title]="'Company'"></generic-hierarchy>
  </div>
</div>
<hr>
<div>
  <dynamic-table [tableHeads]="tableHead" [tableDatas]="userDetails" [tableColName]="tableColName"></dynamic-table>
</div>