<ul>
  <li *ngFor="let site of sites; let i = index">
    <a *ngIf="site.name" >
      <span>
        <input type="checkbox" [checked]="isSiteSelected(site.site_id)"  [id]="site.site_id" (change)="siteAction($event.target.checked, site.site_id)"/>
        <label [for]="site.site_id">{{site.name}}</label>
      </span>
    </a>
  </li>
</ul>