ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li a{
    display: block;
    color: #000;
    margin: 0%;
    text-decoration: none;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #ECECEC;
    padding: 5px 10px;
    &:hover{
        background-color: #FABE58;
        color: #fff;
    }
}