<h1>my first app</h1>

<form novalidate [formGroup]="userForm" (submit)="submitData()"> 
  <div>
    <label>Name : </label>
    <input type="text"  formControlName="name" />
  </div>

  <div>
    <label>age : </label>
    <input type="text"  formControlName="age" />
  </div>

  <div>
    <label>gender : </label>
    <input type="text"  formControlName="gender" />
  </div>

  <button type="submit" >Submit</button>

</form>

<button (click)="backToView()">View</button>