$dropDownWidth : 200px;

.dropbtn {
    background-color: #4CAF50;
    min-width: 100%;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: $dropDownWidth;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    margin: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.toggle-drop-down {
    display: block;
}