<div class="dropdown">
  <button class="dropbtn" >Dropdown</button>
  <ul class="dropdown-content toggle-drop-down" >
    <li *ngIf="isMultiSelect">
        <input type="checkbox" [checked]="isAllSelected()" [id]="selectAll" (change)="selectAll($event.target.checked)" />
        <label [for]="selectAll">Select All</label>
    </li>
    <li *ngFor="let data of datas; let i = index">
      <input type="checkbox" [checked]="isIdSelected(data.id)" [id]="data.id" (change)="checkboxChanged($event, data.id)" />
      <label [for]="data.id">{{data.value}}</label>
    </li>
  </ul>
</div>